.form-control {color: hsl(345, 100%, 60%)}

.form-control::placeholder  {color: hsl(244, 100%, 60%)}

h1, h3, h5, label, a, p {color: hsl(244, 50%, 23%)}

h3 {
    color: #fff;
    margin: auto;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

p {
    color: rgb(238, 238, 238);
    margin-bottom: 4px;
}

.commentContainer {
    display: inline-block;
    height: 100%;
    margin-left: 60px;
}
.avatar {
    display: inline-block;
    position: absolute;
    max-width: 48px;
    height: 48px;
    margin-left: 0px;
    margin-bottom: auto;
    margin-top: 0;
    margin-right: 0.25em;
    padding: 0px;
    background-color: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 1em;
    text-align: center;
    font-size: 28pt;
    line-height: -4px;
}
.name {
    display: inline-block;
    color: rgb(238, 238, 238);
    font-size: 12pt;
    margin-right: 0.5em;
}
.timestamp {
    display: inline-block;
    font-size: 11pt;
    color: rgb(187, 187, 187);
}
.comment {
    color: rgb(238, 238, 238);
    font-size: 13pt;
}
.like {
    font-size: 11pt;
    color: rgb(224, 224, 224);
}

.commentOptionBtns {
    height: auto;
    padding: 8px;
    margin-bottom: 0.25em;
}

.commentsTotal {
    display: inline-block;
    margin: auto;
    margin-right: 1em;
}

.sortBtn {
    display: inline-block;
    margin: auto;
    margin-bottom: 8px;
}

.badge {
    color: rgb(255, 255, 255);
    background-color: hsl(244, 50%, 23%);
}

.commentSelect {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 120px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 6px;
    background-color: none;
    font-size: 14pt;
}
.commentSelect:hover {
    background-color: #ffffff23;
    border-radius: 0.4em;
}