<loading-spinner *ngIf="showSpinner"></loading-spinner>

<div class="commentsTotal"><h3 *ngIf="!showSpinner">{{comments.length}} Comments</h3></div>
<button class="sortBtn">SORT BY</button>
<div *ngIf="!showSpinner">
  <div class="commentSelect" *ngFor="let comm of comments; let rowIndex=index" [@transitionView]>
    <a [routerLink]="['/comments', comm._id]">
      <span class="badge badge-dark">{{rowIndex + 1}}</span> {{comm.name}}<br>
      <span>{{comm.comment}}</span>
    </a>
  </div>
</div>

<div id="logoContainer" [hidden]="showComments">
    <h5 style="margin-top: 10px">Comments REST API</h5>
    <br>
    <p>Built with ❤️ MongoDB ❤️ Express.js ❤️ Angular6 ❤️ Node.js</p>
    <button class="btn btn-light" (click)="showCommentsList()">
      Start commenting...
    </button>
</div>