<loading-spinner *ngIf="showSpinner"></loading-spinner>

<div class="commentOptionBtns">
  <div class="commentsTotal"><h3 *ngIf="!showSpinner">{{comments.length}} Comments</h3></div>
  <button class="sortBtn btn btn-light btn-sm">SORT BY</button>
</div>
<div *ngIf="!showSpinner">
  <a [routerLink]="['/comments/id']">
    <div class="commentSelect" *ngFor="let comm of comments; let rowIndex=index" [@transitionView]>
      <div class="avatar">{{comm.avatar}}</div>
      <span class="commentContainer">
        <span class="name">{{comm.name}}</span> <span class="timestamp"> 1 month ago</span>
        <p class="comment">{{comm.comment}}</p>
        <button class="badge badge-dark"><span class="like">Like ⭐{{comm.likes}}</span></button>
      </span>
    </div>
  </a>
</div>