<h3>Add Comment</h3>
<div [hidden]="submitted" [@transitionView]>
    <form #addCommentForm="ngForm">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
        placeholder="Enter Your Name" 
        required
        [(ngModel)]="comment.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="lastname">Comment</label>
        <input type="text" class="form-control" id="lastname"
        placeholder="Enter Your LastName"
        required
        [(ngModel)]="comment.lastname" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">
            Comment is required
        </div>
      </div>
      
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="addComment()" [disabled]="!addCommentForm.form.valid">Add</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light">{{comment.name}}</span></p>
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="newComment(); addCommentForm.reset()">Continue</button>
    </div>
</div>