<h3>Add Comment</h3>
<div [hidden]="submitted" [@transitionView]>
    <form #addCommentForm="ngForm">

      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname"
        placeholder="Enter Your FirstName" 
        required
        [(ngModel)]="comment.firstname" name="firstname" #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">
            First Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname"
        placeholder="Enter Your LastName"
        required
        [(ngModel)]="comment.lastname" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">
            Last Name is required
        </div>
      </div>

      <!-- Edit Hobbies form -->
      <form (ngSubmit)="formSubmitHobby(hobby.value)">
          <div class="form-group">
            <label for="hobby">Hobbies</label>
            <input type="text" class="form-control" id="hobby"
            placeholder="Press [Enter] to add Hobby"
            [(ngModel)]="hobbyInputVal" name="hobby" #hobby="ngModel">
          </div>
        </form>
        <!-- List out items from hobbies -->
        <div class="form-group">
          <span class="badge badge-light" *ngFor="let hobby of comment.hobbies" id="hobbyButton">
            <div id="hobbyName">{{hobby}}</div>
            <!-- Add a delete button for this item -->
            <button type="button" class="btn btn-dark" (click)="deleteHobby(hobby)" title="Remove" id="removeHobbyBut">✖️</button>
          </span>
        </div>
      
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="addComment()" [disabled]="!addCommentForm.form.valid">Add</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light">{{comment.firstname}}  {{comment.lastname}}</span></p>
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="newComment(); addCommentForm.reset()">Continue</button>
    </div>
</div>